:root {  
    --primary-color: #bb2205;  
    --secondary-color: #f6830f;  
  }
.primary-color{
    background:  var(--primary-color);
}
.secondary-color{
    background:  var(--secondary-color);
}
.dashboard-wrapper, .project-upload-wrapper{
    margin-top: 7rem;
}
.dashboard-wrapper span.nofproject{
    display: block;
    font-size: 7em;
    text-align: center;
}
.dashboard-wrapper span.headline{
    display: block;
    font-size: 2em;
    text-align: center;
    color: var(--primary-color);
}

.customize-navbar{
    padding: 1.2em 0em;
    background: var(--primary-color);
    -webkit-box-shadow: -1px 8px 13px -2px #d3d3d3; 
    box-shadow: -1px 8px 13px -2px #d3d3d3;
}
.navbar ul li{
    
    color: white;
}
.navbar ul li .dropdown-menu a{
    
    color: #000000;
}

.navbar ul li a{
    color: white;
}
.card-body{
    -webkit-box-shadow: 0px 3px 14px 1px #d3d3d3; 
box-shadow: 0px 3px 14px 1px #d3d3d3;
}

form span{
    color: red;
}