:root {  
    --primary-color: #bb2205;  
    --secondary-color: #f6830f;  
  }
  .navbar-toggler-icon{

  }
.primary-color{
    background:  var(--primary-color);
}
.secondary-color{
    background:  var(--secondary-color);
}
.header-section{
    color:white;
}
.header-section{
    padding: 1rem 0rem;
    background: var(--primary-color);
}
.right-section span{
    margin-right: 1rem;
}
.customize-navbar{
    padding: 1.2em 0em;
    background: #fff;
    -webkit-box-shadow: -1px 8px 13px -2px #d3d3d3; 
    box-shadow: -1px 8px 13px -2px #d3d3d3;
}
.navbar-brand{
    margin-right: 12%;
}
.navbar ul li{
    width: 8em;
}
.navbar ul li a{
    color: #000000;
    font-size: 17px;
}
.navbar ul li a:hover{
    color: var(--primary-color);
    font-size: 17px;
    border-bottom: 1px solid var(--primary-color);
}

.our-services{
    padding: 5rem 0rem;
}
.service-wrapper .our-services{
    padding: 0rem;
}
.our-services h1, .why-choose-us h2{
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bolder;
}

.our-services .service-content{
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
}
.contain-icon i, .contain-icon span{
    font-size: 3rem;
}
.our-services .service-content .contain-icon i, .our-services .service-content .contain-icon span{
    
    width: 5.5rem;
    color: white;
    padding-top: 1rem;
    margin-bottom: 2rem;
    height: 5.5rem;
    border-radius: 50%;
    background: var(--secondary-color);
}
.why-choose-us{
    background-color: #f0f4f8;
    background-position: center;
    background-size: cover;
    padding: 5rem 0rem;
    margin-bottom: 2rem;
    
}
.experience{
    display: flex;
    justify-content: center;
    
}
.experience .card{
    -webkit-box-shadow: 1px 2px 19px 7px #000; 
box-shadow: 1px 2px 19px 7px #d3d3d3;
margin: 5rem 0rem;
}
.experience .col-md-6{
    border-right: 1px solid #000000;
}
.experience h1{
    text-align: center;
    font-size: 15rem;
    color: var(--secondary-color);
}
.experience .rend{
    font-size: 3rem;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    color: var(--secondary-color);
}
.experience .cont{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.years{
    font-size: 2.5rem;
    text-align: center;   
    
}

.latest-project{
    background-color: #f0f4f8;
    background-position: center;
    background-size: cover;
    padding: 5rem 0rem;

    
}

.latest-project h2{
    text-align: center;
}
.projects{
    display: flex;
}
img{
    width: 100%;
}
.latest-project img{
    margin-right: 5rem;
    margin-top: 3rem;
    width: 100%;
}
.wrapper .latest-project a, a.service{
    padding: .5rem 4rem;
}
.latest-project a{
    margin-top: 6rem;
}
footer{
    background: #1f1d1d;
    color: #b1aeae;
    padding:5rem 0rem;
    
}
footer h5{
    margin-bottom: 1em;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul li{
    margin: 1rem 0rem;
}
footer a{
    color: #b1aeae;
}
footer .contact{
    font-size: 16px;
}
footer .contact span{
    margin-right: 1rem;
}

footer .contact .material-icons{
    font-size: 15px !important;
}
.copy-right{
    
    background: #0e0d0d;
    color: #b1aeae;
    padding:1rem 0rem;
}
.btn{
    border:0px;
    color: white;
}
.mission{
    margin: 7rem 0rem;
}
.mission h2{
    margin-top: 9rem;
    font-weight: bolder;
}
.mission .content{
    width: 80%;
}
.about{
    padding: 10rem;
}
.about .content .about-us{
    width: 70%;
}
.first-carousel-caption{
    padding-bottom: 250px;
}
.second-carousel-caption{
    padding-bottom: 200px;  padding-right: 50%; width: 100%; text-align:left;
}
.third-carousel-caption h1, .third-carousel-caption h3{
    color: var(--primary-color);
}
.contact-wrapper ul{
    font-size: 1.25em;
    margin-top: 2rem;
}
.contact-wrapper ul li span{
    color: var(--primary-color);
}
.about-wrapper,
 .service-wrapper, 
 .contact-wrapper,
 .all-project-wrapper{
    padding: 8rem 0rem;
}
.contact-wrapper h2{
    margin-top: 8rem;
}
.about-wrapper h1 .material-icons, 
.service-wrapper h1 .material-icons, 
.contact-wrapper h1 .material-icons,
.all-project-wrapper h1 .material-icons{
    font-size: 1em;
    margin-top:.3rem;
}
@media (min-width: 1200px){
    footer .container, .about .container {
        max-width: 1400px;
    }
}

@media (max-width: 700px){

    .contact-wrapper h2{
        margin-top: 0rem;
    }
    .about-wrapper,
    .service-wrapper, 
    .contact-wrapper,
    .all-project-wrapper{
       padding: 5rem 0rem;
   }
   .service-wrapper h1{
       margin-left: 1rem;
   }
   .about-wrapper{
       text-align: justify;
   }
   .about-wrapper img{
       margin: 5rem 0rem;
   }
   body{
       font-size: 16px;
   }
   .mission .content {
    width: 100%;
   }
   .mission h2 {
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    }
    
    .our-services {
        padding:  0rem;
    }
    .our-services .service-content {
        margin-bottom: 2rem;
    }
    .about {
        padding: 2rem;
    }
    .about .content .about-us {
        width: 100%;
        text-align: justify;
    }
    .about img{
        margin: 2rem 0rem;
    }
    .latest-project img{
        max-width: 85%;
        margin: 2rem;
    }
        
    .first-carousel-caption{
        padding-bottom: 0px;
    }
    .second-carousel-caption{
        padding-bottom: 0px;  padding-right: 0%; width: 100%; text-align:left;
    }
    .third-carousel-caption h1, .third-carousel-caption h3{
        color: var(--primary-color);
    }
    .carousel-caption h1{
        font-size: 16px;
    }
    .carousel-caption h3{
        font-size: 12px;
    }
    .navbar ul{
        margin-top: .8rem
    }
    .navbar ul li {
        margin: 0rem 1.5rem;
    }

    footer .content{
        margin-top: 1.5rem;
    }
}